article {
    font-size:larger;
   color: white;
}
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: white;
}
 body {
     background-image:url(https://www.popsci.com/uploads/2020/06/05/3NIEQB3SFVCMNHH6MHZ42FO6PA.jpg?auto=webp) ;
     background-position: center;
     background-size: cover;
 }
 iframe{
     align-items: center;
     margin-left: 34%;
 }
 ul{
    color: white;
 }
 li {
    color: white;
 }  
 h3{
     color: white;
 }

 div{
     color: white;
 }
 
 
 #contacts {
    color: white;
 }